<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="blue  p-4">
    <div class=" d-flex align-items-center justify-content-center">
    <%= image_tag 'logo.png' ,class:"logo" %></div>
      <h5 class="text-white h4">Collapsed content</h5>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark blue">
    <button class="navbar-toggler shadow-none" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>

<div class="blue text-center text-white p-1">
<h5>Page Title</h5>
  </div>