
 <div class="align-items-center justfy-content-center text-center">
 <h2 class="display-2">Secured e-wallet</h2>
 <p class="p-2"> <b>iBank</b> is the only financial super app you'll ever need! Send money globally and locally, pay bills and merchants, send gifts, and much more. </p>
 <%= link_to  "Login", new_user_session_path,class: ' btn btn-md btn-success' %>
  <%= link_to  "Sign-up", new_user_registration_path,class: ' btn btn-md btn-primary' %>
 </div>